* {
  box-sizing: border-box;
}

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* ANIMATIONS AG-GRID */
@keyframes rollbackChangeAnimation {
  0% {
    background-color: transparent;
    color: black;
  }
  50% {
    background-color: #172641;
    color: white;
  }
  100% {
    background-color: transparent;
    color: black;
  }
}

.rollbackChange {
  animation-duration: 1s;
  animation-name: rollbackChangeAnimation;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.rollbackChangeRemoved {
  animation: none;
}

/* -------- */

@keyframes changePending {
  0%{
    width: 0;
  }
  50%{
    width: 6px;
  }
  100%{
    width: 3px;
  }
}

@keyframes changePendingIcon {
  0% {
    width: 3px;
  }
  50% {
    width:5px;
  }
  100% {
    width: 0;
  }
}

.changePendingCell{
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #ff890a;
    border-bottom: 5px solid #ff890a;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
  }
}

.changePending {
  &:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-color: #172641;
    left: 0;
    transition: all 0.3s;
    animation: changePending 1 0.3s linear;
  }
}

@keyframes changeApplied {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

.changeApplied {
  transition: all 0.3s;

  &:before {
    display: block;
    content: '';
    position: absolute;
    background-color: #00a800;
    height: 100%;
    animation: changeApplied 1 1s alternate !important;
  }
}
